        body {
            background-color: #f8f9fa;
            margin-top: 56px;
        }

        .footer {
            background-color: #343a40;
            color: #f8f9fa;
            padding: 40px 0;
        }
        .carousel-item img {
            width: 100%;
            height: 420px;
            object-fit: cover;
            border-radius: 10px;
            border: 2px solid #000;
        }
        .card-img-top{
            width: 100%;
            height: 220px;
            object-fit: cover;  
        }
        .bg-primary {
            --bs-bg-opacity: 1;
            background-color: rgb(51 0 14) !important;
            border-radius: 10px;
            border: 2px solid #000;
        }
        
        .carousel-container-item .carousel-item img{
            width: 100%;
            height: 230px;
            object-fit: cover;   
        }
        .bg-info {
            --bs-bg-opacity: 1;
            background-color: rgb(73 4 25) !important;
        }

        body{
            background-image: linear-gradient(to top, #aaaaaa, #ffffff, #ffffff);
            background-attachment: fixed;
            font-family: 'Ubuntu', sans-serif;
            max-width:1280px;
            margin: 0 auto;
        }
        #blogo{
            width:170px;   
            margin:0 20px 0 18px;

        }
        #logo{
            width:120px;
            margin:7px 0 0 -168px;


        }
        #logonav{
            height:120px;
            margin:-20px 0 0 -172px;


        }
        #titulo{
            margin:-100px 0 0 190px;
            font-weight:bold;
            color:#700;
            z-index: 4000;
            text-shadow: 0 1px 0.5px #000;

        }
        #linea{
            width:265px;
            border:1px solid #000;
            color:#000 ;
           margin:-2px 0 0 190px;
        }
        #slogan{
            margin:-3px 0 0 190px;
            font-family:"Calibri";
            font-weight:bold;

        }
        #bEst{
             margin:-100px 0 0 0;
            float:right;
            width:350px;
            z-index: 1000;
        }
        #Est{
            margin:-83.5px -300px 0 0;
            z-index: 2000;
            float:right;
        }
        #banner{
    background-color: rgba(52,58,64,1);
    }

    #robot{width:200px;position:absolute;z-index:1000;}
    #rob2{
        width:110px;
        position:absolute;
        z-index:1000;
        right:0;
        display: none;
    }
    #bienv{margin:15px 0 15px 140px;padding:15px 15px 15px 55px;}
    p{text-align: justify;}
        
      
        .col-md-4:hover  {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }
        
        
.vertical-menu {
    width: 100%; 
}


#acordeon{
    margin:-3px 0 0 0;
    background-color: rgba(34,34,34,1);
    height: 300px;

}

#pie{
    padding:10px;
    margin:0;
     height:auto;

}
#direccion,#mapa,#redes{
 
    padding:10px;
      height:auto;
}


#conteImg{
  text-align: center;
right:0;
left:0;

}

#conteImg img{
max-height: 64px;
    margin:3px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
   
}
#conteImg img:hover{
    margin-top:-5px;
    -webkit-transform: scale(1.3); 
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
   }

.bg-vino{
    background: #700;
}
.text-vino{
    color:#700;
}

@media only screen and (max-width: 748px) {
  
#Est{  display: none;}
        #robot{display: none}
    #rob2{display: block}
    #bienv{margin:0;padding:15px;margin-top:15px;}
}
    
@media only screen and (max-width: 460px) {
    #top{height: 160px;}
    #titulo{margin:0;text-align: center;}
    #linea{margin:0 auto;}
    #slogan{margin:0;text-align: center;;}
    #bEst{margin:-150px auto 0 auto;float:none;z-index:0;opacity: 0.5;width:100%;}
    #logo{ margin:10px 40%;width:20%;}
    #blogo{display:none;}

}
        .text-muted{
            color: white !important;
            text-align: center;
        }
        
           #telf{
    position:fixed;
    right:-169px;
    bottom:105px;
    text-align:right;
    z-index:2000;
    
    -webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
}
#telf:hover{
-webkit-transform:translate(-169px,0px);
-moz-transform:translate(-169px,0px);
-ms-transform:translate(-169px,0px);
-o-transform:translate(-169px,0px);
 transform:translate(-169px,0px);
}    
    #wspl{
    position:fixed;
    right:-165px;
    bottom:55px;
    text-align:right;
    z-index:2000;
    
    -webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
}
#wspl:hover{
-webkit-transform:translate(-165px,0px);
-moz-transform:translate(-165px,0px);
-ms-transform:translate(-165px,0px);
-o-transform:translate(-165px,0px);
 transform:translate(-165px,0px);
}
#fbpl{
    position:fixed;
    right:-158px;
    bottom:5px;
    text-align:right;
    z-index:2000;
    
    -webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
}
#fbpl:hover{
-webkit-transform:translate(-158px,0px);
-moz-transform:translate(-158px,0px);
-ms-transform:translate(-158px,0px);
-o-transform:translate(-158px,0px);
 transform:translate(-158px,0px);
}
        
        .navbar{
            border-radius: 20px;
            width: 100;
            transition: top 0.3s;
        }
        .todo1{
            width: 100%;
        }

        .navbar.fixed-top {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        transition: top 0.3s;
    }

        .navbar.fixed-top.navbar-scrolled {
            top: 0;
        }

        .navbar.navbar-scrolled {
            top: 0;
        }

        
        .animate__slideInRight {
    animation: animate__slideInRight 1s forwards;
}

@keyframes animate__slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

        .animate__zoomIn {
    animation: animate__zoomIn 1s forwards;
}

@keyframes animate__zoomIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; 
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
        
.card-body {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
}

.card-body:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

        
.btn-ccc {
    background-color: rgb(51 0 14) !important;
    border-color: #000; 
    color: #fff; 
}

.btn-ccc:hover {
    background-color: rgb(41 13 21) !important; 
    border-color: #000; 
    color: #fff;
}
hr {
    border-top: 8px solid rgb(41 13 21); 
    margin: 20px 0; 
}

.colorm{
    color: #450003 !important;
}

.img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 300px; 
            overflow: hidden; 
        }
        .img-container img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }

#fireworks-container {
    position: relative;
}

.firework {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFF; 
    pointer-events: none; 
    animation: explode 1s ease-out infinite alternate;
}

@keyframes explode {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

#map-container {
            width: 94vw;
            height: 50vh; 
        }

        #map {
            width: 100%;
            height: 100%;
        }

.list-unstyled li a {
    color: #fff; 
    text-decoration: none; ¿
}
.img-container {
    width: 100%;
    height: 300px; 
    overflow: hidden; 
}

.img-container img {
    width: 100%;
    height: 300px; 
    object-fit: cover; 
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo borroso */
}

.modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* Ancho máximo del modal */
    background-color: #04040478;
}

.modal img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    color: aqua;
}

